<div class="back">
<form [formGroup]="Group" class="forme" (ngSubmit)="onSubmit()">
  <div class="form-check forme-campo">Vamos Conversar</div>
  <div class="form-group forme-campo">
    <label for="assunto">Assunto</label>
    <input type="text" class="form-control inputs" name="assunto" id="assunto" formControlName="assunto">
  </div>
  <div class="form-group forme-campo">
    <label for="observacao">Observação</label>
    <textarea class="form-control observacao" rows="4" name="observacao" id="observacao" formControlName="observacao"></textarea>
  </div>
  <div class="form-group">
    <div class="form-check forme-campo">
      <label class="form-control" for="masculino">Nome</label>
      <input class="form-check-input inputs" type="text" name="contato" id="nome" formControlName="nome">
    </div>
    <div class="form-check forme-campo">
      <label class="form-control" for="feminino">E-mail</label>
      <input class="form-check-input inputs" type="text" name="contato" id="email" formControlName="email">
    </div>
    <div class="form-check forme-campo">
      <label class="form-control" for="feminino">Telefone</label>
      <input class="form-check-input inputs" type="text" name="contato" id="telefone"  formControlName="telefone">
    </div>
  </div>
  <input type="submit" class="btn btn-primary forme-title" value="Enviar">
</form>
</div>