$medium: 1024

.header 
	max-width: 100%
	display: flex
	z-index: 2
	position: fixed
	justify-content: space-between
	align-items: center
	height: 88px
	background:rgba(0, 0, 0, 0.1)
	-webkit-backdrop-filter: blur(40px)
	backdrop-filter: blur(40px)
	opacity: 0.8
	width: 100vw
	height: -webkit-fit-content
	height: -moz-fit-content
	position: fixed
	top: 0
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2)

.main 
	width: 100vw
	height: 100%
	width: -webkit-fill-available
	height: -webkit-fill-available
	background: linear-gradient(180deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.28))

.fundo
	width: 100vw
	height: 100%
	background-repeat: no-repeat
	background-size: cover

.spacee
	position: relative
	top: 20px
	left: -100
	width: max-content
	max-width: -webkit-fill-available
	margin-bottom: 20px !important

.item
	justify-content: end

.logogif 
	margin-left: 15px
	opacity: 1.2
	padding: 0
	margin: 10px
	word-break: break-word
	box-sizing: border-box
	border: none
	outline: none
	width: 80px
	height: 70px
	background-color: transparent

.headername
	width: 300px
	height: 100px
	position: fixed
	filter: invert(100%)
	padding: 20px

.headernamee
	width: 300px
	height: 100px
	position: fixed
	padding: 20px

.conteinername
	width: fit-content
	position: fixed
	margin-top: 20px
	margin-bottom: 20px
	display: fixed
	height: fit-content
	justify-content: end
	align-items: end
	right: 10px
	@media screen and (max-width: $medium) 
		width: 40px

.hambug
	width: 40px

.glass
	background:rgba(0, 0, 0, 0.1)
	border-radius: 16px
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
	backdrop-filter: blur(4.9px)
	-webkit-backdrop-filter: blur(4.9px)
	border: 1px solid rgba(59, 201, 254, 1)
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	padding: 10px

.nav 
	display: flex
	height: 80px
	height: fit-content
	justify-content: end
	align-items: end


img 
	background-size: cover
	overflow-clip-margin: content-box
	overflow: clip

.tops
	margin: 10px
	font-family: var(--font-body)
	font-weight: 600
	font-size: 22px
	color: #ece8f7
	font-family: 'Helvetica Neue', sans-serif

.name
	margin: 10px
	font-family: var(--font-body)
	font-weight: 600
	font-size: 16px
	color: #ece8f7
	font-family: 'Mona', sans-serif
	font-size: 46px
	@media (min-width:320px) and (max-width: 379px)
		font-size: 26px
	@media (min-width:380px) and (max-width: 599px)
		font-size: 33px
	@media (min-width:600px) and (max-width: 900px)
		font-size: 39px
	@media (min-width:900px) and (max-width: 1024px)
		font-size: 42px

.sobre
	display: flex
	justify-content: center
	align-content: center
	flex-direction: column
	background: #07005C
	height: 1200px
	flex-wrap: wrap
	align-items: center

.stacks
	background: linear-gradient(347.4deg,#63004b -25.72%,#07005C	100.21%)
	height: fit-content

.contato
	font-size: 24px
	display: flex
	flex-direction: column
	align-content: center
	justify-content: center
	align-items: center
	flex-direction: column
	align-content: space-around
	justify-content: space-evenly
	background-image: url("/assets/images/back.gif")
	background-position: left top
	background-repeat: no-repeat
	background-size: 100% 100%
	height: 1200px
	word-wrap: break-word
	@media (min-width:320px) and (max-width: 379px)
	height: 900px
	padding-top: 60px
	@media (min-width:380px) and (max-width: 599px)
	height: 1000px
	padding-top: 120px
	@media (min-width:600px) and (max-width: 900px)
		font-size: 20px
	@media (min-width:900px) and (max-width: 1024px)
		font-size: 22px

.projetos
	background: linear-gradient(17.4deg,#190c21	22.72%,#07005C 122.21%)
	height: 800px

footer
	z-index: 2
	width: 100vw
	height: 40px
	display: flex
	position: fixed
	bottom: 0
	left: 0
	background: linear-gradient(30deg, #000000 76.72%, rgba(0, 0, 0, 0.8) 12.21%)
	padding: 1px 0
	flex-direction: column
	flex-wrap: wrap
	align-content: center
	justify-content: center
	align-items: center

.bg-vid 
	object-fit: cover
	width: 100vw
	height: 100%
	position: relative
	top: 0
	left: 0
	background-position: left top

.aa
	cursor: pointer

.bar
	position: relative
	width: 100%
	background-color: #0b0b0b

.over
	height: 1200px
	overflow: hidden

.container
	z-index: 100

.me
	position: absolute
	top: 100px
	left: 50%
	display: flex
	justify-content: center
	align-items: center
	width: 30%
	border-radius: 50%
	outline: purple outset 6px
	outline-offset: 9px
	box-shadow:10px 10px 13px #001be9
	background-image: url("/assets/images/back.gif")
	background-position: left bottom 
	margin-left: 60px
	animation: backInDown 2s
	@media screen 
		@media (min-width:320px) and (max-width: 379px)
			top: 120px
			left: 10%
			display: flex
			justify-content: center
			align-items: center
			height: 330px
			width: 280px
			border-radius: 50%
			margin-left: 0px
		@media (min-width:380px) and (max-width: 599px)
			top: 120px
			left: 10%
			display: flex
			justify-content: center
			align-items: center
			height: 380px
			width: 299px
			border-radius: 50%
			margin-left: 40px
		@media (min-width:600px) and (max-width: 900px)
			top: 120px
			left: 0%
			display: flex
			justify-content: center
			align-items: center
			height: 500px
			width: 450px
			border-radius: 50%
			margin-left: 22%
		@media (min-width:900px) and (max-width: 1024px)
			top: 120px
			left: 0%
			display: flex
			justify-content: center
			align-items: center
			height: 500px
			width: 450px
			border-radius: 50%
			margin-left: 28%

.content 
	position: fixed
	bottom: 0
	background: rgba(0, 0, 0, 0.5)
	color: #f1f1f1
	width: 100%
	padding: 20px

#myBtn 
	width: 200px
	font-size: 18px
	padding: 10px
	border: none
	background: #000
	color: #fff
	cursor: pointer


#myBtn:hover 
	background: #ddd
	color: black

.Banner
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 1000px
	display: flex
	flex-direction: column
	flex-wrap: nowrap
	align-content: center
	justify-content: start
	align-items: center
	padding-right: 36%
	padding-top: 220px
	animation: slideInUp 2s
	@media screen 
		@media (min-width:320px) and (max-width: 379px)
			padding-right: 0%
			padding-top: 550px
		@media (min-width:380px) and (max-width: 599px)
			padding-right: 0%
			padding-top: 600px
		@media (min-width:600px) and (max-width: 900px)
			padding-right: 5%
			padding-top: 640px
		@media (min-width:900px) and (max-width: 1024px)
			padding-right: 0%
			padding-top: 640px

.intoBanner
	background-color: #FFFFFF
	color: white
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	align-content: center
	justify-content: center
	align-items: center
	color: black
	font-family: var(--font-body)
	font-weight: 600
	font-size: 16px
	font-family: 'Mona', sans-serif
	font-size: 26px
	cursor: pointer
	width: 300px
	margin: 10px

.intoSlide
	background-color: #FFFFFF
	color: white
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	align-content: center
	justify-content: center
	align-items: center
	color: black
	font-family: var(--font-body)
	font-weight: 600
	font-size: 16px
	font-family: 'Mona', sans-serif
	font-size: 26px
	cursor: pointer

.conten 
	position: relative
	overflow: hidden
	width: 100%
	height: 3060px
	background-color: black
	theme: black 
	animation: fadeInUp 4s
	@media screen 
		@media (min-width:320px) and (max-width: 379px)
			height: 3860px
		@media (min-width:380px) and (max-width: 599px)
			height: 3660px
		@media (min-width:600px) and (max-width: 900px)
			height: 3560px
		@media (min-width:900px) and (max-width: 1024px)
			height: 3460px

.responsive-iframe 
	position: absolute
	top: 100
	left: 0
	bottom: 0
	right: 0
	width: 100%
	height: 100%

.img-carrosel
	width: 80%
	margin-top: 20px
	margin-left: 10%	
	height: 40vh
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	flex-direction: column
	border-radius: 5%
	animation: bounceInLeft 1s 

.icons-carrosel
	width: 100%
	height: 100px
	background-color: green

.conteiner-slide
	position: absolute
	top: 0
	left: 0
	width: 80%
	margin-left: 10%
	display: flex
	flex-direction: column
	align-content: center
	justify-content: end
	align-items: center

.conteiner-subtitle
	position: absolute
	top: 440px
	left: 0
	width: 100%
	display: flex
	flex-direction: column
	align-content: center
	justify-content: end
	align-items: center
	@media screen 
		@media (min-width:320px) and (max-width: 379px)
				top: 440px
		@media (min-width:380px) and (max-width: 599px)
				top: 440px
		@media (min-width:600px) and (max-width: 900px)
				top: 440px
		@media (min-width:900px) and (max-width: 1024px)
				top: 440px


.prev
	cursor: pointer
	width: 80px
	height: 80px
	position: absolute
	top: 40%
	left: 0%
	background: none

.next
	cursor: pointer
	width: 80px
	height: 80px
	position: absolute
	top: 40%
	right: 0%
	background: none

.glasse
	width: 60px
	background:rgba(0, 0, 0, 0.1)
	border-radius: 16px
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
	backdrop-filter: blur(4.9px)
	-webkit-backdrop-filter: blur(4.9px)
	border: 1px solid rgba(59, 201, 254, 1)
	margin-top: 10px
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	padding: 10px
	height: 70px

.bttns
	display: flex
	width: 100%
	align-content: center
	justify-content: space-evenly
	align-items: center
	flex-wrap: wrap
	flex-direction: row-reverse
	position: relative
	bottom: 120px
	left: 0px
	@media screen 
		@media (min-width:320px) and (max-width: 379px)
				bottom: 100px
		@media (min-width:380px) and (max-width: 599px)
				bottom: 40px
		@media (min-width:600px) and (max-width: 900px)
				bottom: 40px
		@media (min-width:900px) and (max-width: 1024px)
				bottom: 40px
.bttn
	display: flex
	width: 100%
	align-content: center
	justify-content: space-evenly
	align-items: center
	flex-wrap: wrap
	flex-direction: row-reverse
	position: relative
	bottom: 250px
	left: 0px
	@media screen 
		@media (min-width:320px) and (max-width: 379px)
			bottom: 300px
		@media (min-width:380px) and (max-width: 599px)
			bottom: 250px
		@media (min-width:600px) and (max-width: 900px)
			bottom: 250px
		@media (min-width:900px) and (max-width: 1024px)
			bottom: 250px
.indicator
	cursor: pointer
	position: relative
	bottom: 36px
	display: flex
	justify-content: center
	align-content: center
	flex-direction: center
	@media screen 
		@media (min-width:320px) and (max-width: 379px)
				bottom: 126px
		@media (min-width:380px) and (max-width: 599px)
				bottom: 86px
		@media (min-width:600px) and (max-width: 900px)
				bottom: 76px
		@media (min-width:900px) and (max-width: 1024px)
				bottom: 50px

iframe
	user-select: none