
  <main class="main" role="main">
    <header class="header" role="banner">
      <img (click)="gotoTop()"  class="headernamee" src="assets/images/name.png" alt="gif"/>  
      <img *ngIf="!Inverted" (click)="gotoTop()"  class="headername" src="assets/images/name.png" alt="gif"/>
      <nav class="conteinername">
        <div *ngIf="innerWidth >= 1024" >
          <a href="#Sobre" class="nav-link tops hover Text ">Sobre</a>
          <a href="#Projetos" class="nav-link tops hover Text">Projetos</a>
        </div>
        <button *ngIf="innerWidth < 1024" mat-icon-button [mat-menu-trigger-for]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu class="hambug" x-position="before" #menu="matMenu">
          <a href="#Sobre" class=" nav-link tops hover Text" mat-menu-item>Sobre</a>
          <a href="#Projetos" class="tops hover Text" mat-menu-item>Projetos</a>
        </mat-menu>
      </nav>
    </header>
    <article class="sobre">
      <div  id="myVideo" class="bg-vid" >
        <img class="fundo" src="assets/images/fundoback.gif" alt="fundo" type="video/mp4">
      </div>
      <img  class="me" alt="me" src="assets/images/me.png" type="image"/>
      <div class="Banner">
        <h2 class="name neonText ">Nice to meet you</h2>
        <h2 class="name">I'm Yan Matheus</h2>
        <h2 class="name neonText">Dev Full Stack</h2>
        <h2 class="name ">UI / UX / OPS</h2>
        <div class="">
          <a class="intoBanner glow-on-hover glass neonText"  href="https://github.com/REFSZIN" target="_blank">
            <mat-icon color = "primary">cloud_circle</mat-icon>My GitHub
          </a>
          <a class="intoBanner glow-on-hover glass neonText"  href="https://github.com/sponsors/REFSZIN" target="_blank">
            💖Sponsors
          </a>
          <a class="intoBanner glow-on-hover glass neonText "  href="https://www.linkedin.com/in/yanassis/" target="_blank" >
            <mat-icon color = "primary">portrait</mat-icon>My Linkedin
          </a>
          <a class="intoBanner glow-on-hover glass neonText"  href="https://docs.google.com/gview?url=https://github.com/REFSZIN/REFSZIN/raw/gh-pages/Curriculo%20Yan%20Matheus.pdf&embedded=true" target="_blank" >
            <mat-icon color = "primary">picture_as_pdf</mat-icon>See my CV here
          </a>
        </div>
      </div>
    </article>
    <article id="Sobre" class="stacks">
      <div class="conten">
        <iframe
          class="responsive-iframe" 
          scrolling="auto" 
          title="README"
          src="https://refszin.github.io/REFSZIN/">
        </iframe>
      </div>
    </article>
    <article class="contato">
      <h3 class="name spacee" neonText>PROJECTS</h3>
        <c-carousel id="Projetos" class="over" [dark]="true" [touch]="true" [wrap]="true"  [animate]="true" [interval]="000" >
          <c-carousel-inner>
            <c-carousel-item class="d-flex item" *ngFor="let slide of slides; index as i;">
              <img
                [src]="slide.src"
                alt="{{slide.title}}"
                class="img-carrosel"
                loading="smooth"
              />
              <c-carousel-caption class="conteiner-slide">
                <h3 class="name">{{slide.title}}</h3>
                <p class="conteiner-subtitle">{{slide.subtitle}}</p>
              </c-carousel-caption>
              <c-carousel-indicators class="indicator"></c-carousel-indicators>
              <div class="bttns">
              <a class="intoSlide glow-on-hover glass neonText"  href={{slide.repository}} target="_blank" >
                <mat-icon color = "primary">library_books</mat-icon>Github
              </a>
              <a class="intoSlide glow-on-hover glass neonText"  href={{slide.deploy}} target="_blank" >
                <mat-icon color = "primary">open_in_new</mat-icon>Deploy
              </a>
              </div>
              <div class="bttn">
                <c-carousel-control [routerLink] caption="Previous" direction="prev" class="prev">
                  <img class="tops " src="assets/images/prev.svg" alt="gif"/>
                </c-carousel-control>
                <c-carousel-control [routerLink] caption="Next" direction="next" class="next">
                  <img class="tops " src="assets/images/next.svg" alt="gif"/>
                </c-carousel-control>
              </div>
            </c-carousel-item>
          </c-carousel-inner>
        </c-carousel>
    </article>     
    <footer *ngIf="isShow" >
      &copy; Copyright 2023 - Refszin - <a class="contact">Contact me</a>
    </footer>
  </main> 
  <router-outlet></router-outlet>