
  <div class="header" role="banner">
    <img class="logogif" src="assets/images/Logo.gif" alt="gif"/> 
    <h2 class="name">REFSZIN</h2>
    <nav class="nav">
      <a href="index.html" class="nav-link tops hover">Sobre</a>
      <a href="gallery.html" class="nav-link tops hover">Stacks</a>
      <a href="login.html" class="nav-link tops hover">Contato</a>
      <a href="login.html" class="nav-link tops hover">Projetos</a>
    </nav>
  </div>
  <section class="main" role="main">
    <article class="sobre">
      <video class="bg-vid" autoplay muted loop id="myVideo">
        <source src="assets/images/back.mp4" type="video/mp4">
      </video>
      <img class="me" alt="me" src="assets/images/me.png" type="image"/>
      <div class="Banner">
        <h2 class="name">Nice to meet you,</h2>
        <h2 class="name">I'm Yan Matheus</h2>
        <h2 class="name typing-demo">I Full Stack Developmet</h2>
      </div>
    </article>
    <article class="stacks">
      <div class="bar">Stacks</div>
    </article>
    <article class="contato">
      <div class="bar">Projetos</div>
    </article>
    <footer>
      <div class="footer">footer</div>
    </footer>
  </section> 
  <router-outlet></router-outlet>
  