
  <div class="header" role="banner">
    <img class="logogif" src="assets/images/REFSZIN.gif" alt="gif"/> 
    <nav class="nav">
      <a href="index.html" class="nav-link tops hover">Sobre</a>
      <a href="gallery.html" class="nav-link tops hover">Stacks</a>
      <a href="login.html" class="nav-link tops hover">Contato</a>
      <a href="login.html" class="nav-link tops hover">Projetos</a>
    </nav>
  </div>
  <section class="main" role="main">
    <article class="sobre">
      <video class="bg-vid" autoplay muted loop id="myVideo">
        <source src="assets/images/back.mp4" type="video/mp4">
      </video>
    </article>
    <article class="stacks">
      <div class="bar">Stacks</div>
    </article>
    <article class="contato">
      <div class="bar">Projetos</div>
    </article>
    <footer>
      <div class="footer">footer</div>
    </footer>
  </section> 
  <router-outlet></router-outlet>
  